#container{
/* Apartir de acá es del login */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-color: black; */
  background-color: #242C42;
  background-size: cover;
  background-position: center;
}