#container{
/* Apartir de acá es del login */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('../../Assets/UDH.jpg')
  no-repeat;
  background-size: cover;
  background-position: center;
}