
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: #fff;
}

.sidebar .image-text img{
 width: 40px;
}

.mi-componente{
    height: 100vh;
    background-color: #E4E9F7;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

.sidebar .text{
    font-size: 16px;
    font-weight: 750;
    color: gray;
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}


    
